body {
  padding: 0px 20px 50px 20px;
  font-size: 18px;
  line-height: 1.2;
  font-family: Helvetica, sans-serif;
  margin: 0 auto;
}
h1, h2 {
  text-align: center;
}

h1 {
  font-size:38px;
  color: #656565;
}
h2 {
  font-size: 24px;
  color: #656565;
}
h3 {
  font-size: 22px;
  color: #000;
}
p {margin: 0 0 20px 0px;}

th, td {
  padding: 10px;
}
.records {
  margin: 0 auto;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

