

<div class="records delete">
  <h2>Delete a Record</h2>

  <%= form_for(:record, :url => {:action => 'destroy', :id => @record.id}) do |f| %>


    <div class="form-buttons">
      <%= submit_tag("Delete Record") %>
    </div>

  <% end %>
</div>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>
