
<!-- testing this here -->

<% @albums.each  do |album| %>
      <div class="wrapper">
      <h2>DISCOGS</h2>
        <h1>TEST!</h1>
         <nav>
        <a href="/"LINK!</a>
        <!-- <a href="/photos/new">new photo</a> -->
      </nav>
  <%= album %>
  <hr>
<% end %>
<%= @artist %>
